KERNEL_ARCH_ISO_DEPENDS=\
grubiso/boot/jOShload.elf

KERNEL_ARCH_OBJS=\
$(KERNEL_ARCH_DIR)/entry.o \
$(KERNEL_ARCH_DIR)/entry_asm.o \
$(KERNEL_ARCH_DIR)/ioports.o \
$(KERNEL_ARCH_DIR)/vga.o \
$(KERNEL_ARCH_DIR)/interrupts.c

$(KERNEL_ARCH_DIR)/%.o: $(KERNEL_ARCH_DIR)/%.c
	$(CC) -MD -c '$<' -o '$@' -ffreestanding $(CFLAGS) $(KERNEL_CFLAGS)

$(KERNEL_ARCH_DIR)/%.o: $(KERNEL_ARCH_DIR)/%.nasm
	nasm -MD '$*.d' -f elf64 -o '$@' '$<'

grubiso/boot/jOShload.elf: $(KERNEL_ARCH_DIR)/module_loader/loader.elf
	mkdir -p grubiso/boot/
	cp '$(KERNEL_ARCH_DIR)/module_loader/loader.elf' grubiso/boot/jOShload.elf

FORCE: ;
$(KERNEL_ARCH_DIR)/module_loader/loader.elf: FORCE
	$(MAKE) -C $(@D) "$(notdir $@)" CC="$(abspath $(CC))" CXX="$(abspath $(CXX))" STRIP="$(abspath $(STRIP))" TARGET_ARCH="$(TARGET_ARCH)" CFLAGS="$(CFLAGS) -isystem=/usr/include -mno-sse -mno-sse2 -mno-mmx"

.PHONY: kernel_arch_clean
kernel_arch_clean:
	$(MAKE) -C '$(KERNEL_ARCH_DIR)/module_loader' clean

.PHONY: kernel_arch_install-headers
kernel_arch_install-headers:
	mkdir -p '$(KERNEL_INCLUDEDIR)'
	cp -R --preserve=timestamps '$(KERNEL_ARCH_DIR)/include/'* '$(KERNEL_INCLUDEDIR)/'