KERNEL_ARCH_ISO_DEPENDS=\
grubiso/boot/jOShload.elf

KERNEL_ARCH_OBJS=\
$(KERNEL_ARCH_DIR)/entry.o

$(KERNEL_ARCH_DIR)/%.o: $(KERNEL_ARCH_DIR)/%.c
	$(CC) -MD -c '$<' -o '$@' -ffreestanding $(CFLAGS) $(KERNEL_CFLAGS)

grubiso/boot/jOShload.elf: $(KERNEL_ARCH_DIR)/module_loader/loader.elf
	mkdir -p grubiso/boot/
	cp '$(KERNEL_ARCH_DIR)/module_loader/loader.elf' grubiso/boot/jOShload.elf

FORCE: ;
$(KERNEL_ARCH_DIR)/module_loader/loader.elf: FORCE
	$(MAKE) -C $(@D) "$(notdir $@)" CC="$(abspath $(CC))" CXX="$(abspath $(CXX))" STRIP="$(abspath $(STRIP))" TARGET_ARCH="$(TARGET_ARCH)" CFLAGS="$(CFLAGS) -isystem=/usr/include"

.PHONY: kernel_arch_clean
kernel_arch_clean:
	$(MAKE) -C '$(KERNEL_ARCH_DIR)/module_loader' clean

.PHONY: kernel_arch_install-headers
kernel_arch_install-headers: ;