ARCH_ISO_DEPENDS=\
grubiso/boot/jOShload.elf

grubiso/boot/jOShload.elf: $(ARCH_DIR)/module_loader/loader.elf
	mkdir -p grubiso/boot/
	cp '$(ARCH_DIR)/module_loader/loader.elf' grubiso/boot/jOShload.elf

FORCE: ;
$(ARCH_DIR)/module_loader/loader.elf: FORCE
	$(MAKE) -C $(@D) "$(notdir $@)" CC="$(abspath $(CC))" STRIP="$(abspath $(STRIP))" TARGET_ARCH="$(TARGET_ARCH)" CFLAGS="$(CFLAGS) -isystem=/usr/include"

.PHONY: arch_clean
arch_clean:
	$(MAKE) -C '$(ARCH_DIR)/module_loader' clean